<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type='text/css' media='all' href="styles.css">
    <title>{{ hubsite_title }}</title>
</head>
<body>
<div class="aligncenter slide current">
    <div class="wrap">
        <h2><strong>{{ hubsite_title }}</strong></h2>
        <p>{{ hubsite_subtitle }}</p>
        <hr>
        <ul class="flexblock">
            {% for service in hubsite_service_list %}
            <li>
                <h2>{% if service.logo_location | length > 0 %}<img class="logo"  src="assets/{{ service.logo_location.split('/') | last }}"  alt="{{ service.name }} Logo">{% endif %}{{ service.name }}</h2>
                {{ service.description }}
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

</body>
</html>