html {
    background-color: #2b2b2b;
    color: white;
    font-weight: 300;
    line-height: 1;
    text-rendering: optimizeLegibility;
    font-size: 24px;
}

@media (max-width:1000px){
    html{
        font-size: 36px;
    }
}


.flexblock a {
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    text-align: left;
    transition: .3s;
    background-color: #494646;
    flex: auto;
    text-decoration: none;
    color: inherit;
    width: 45%;
}

.logo {
    height: 1rem;
    margin-right: 1rem;
}

p, li {
    line-height: 3.2rem;
    margin-bottom: 3.2rem;
}

ul {
    list-style: none;
    text-indent: inherit;
}

section, .slide {
    word-wrap: break-word;
}

.flexblock {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
}

section, .slide {
    padding-top: 0;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (prefers-color-scheme: light) {
    html {
        background-color: #f1f1f1;
        color: black;
    }
    .flexblock a {
        background-color: #d9d9d9;
    }
    .logo {
        border-spacing: 5px;
        padding: 5px;
        background-color: black;
        border-radius: 3px;
    }
}

{{ hubsite_extra_css }}
