[Unit]
Description=Hubsite - static website service list
{% for service in hubsite_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"

ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ hubsite_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ hubsite_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ hubsite_identifier }} \
			--log-driver=none \
			--network={{ hubsite_container_network }} \
			--cap-drop=ALL \
			--cap-add=NET_BIND_SERVICE \
			--cap-add=SETGID \
			--cap-add=SETUID \
			--cap-add=CHOWN \
			--label-file={{ hubsite_base_path }}/labels \
			--mount type=bind,src={{ hubsite_html_path }},dst=/usr/share/nginx/html,ro \
			{{ hubsite_container_image }}

{% for network in hubsite_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ hubsite_identifier }}
{% endfor %}
ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ hubsite_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ hubsite_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ hubsite_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ hubsite_identifier }}

[Install]
WantedBy=multi-user.target
